* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Public Sans", sans-serif;
  color: hsl(233, 8%, 62%);
}

img {
  width: 100%;
}

header {
  padding: 2rem 0;
  background-color: #fff;
}

button {
  background: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
  border: none;
  border-radius: 100px;
  padding: 1em 3em;
  color: hsl(0, 0%, 100%);
  font-weight: 700;
  font-size: 1rem;
}

h1,
h2,
h3,
h4 {
  font-weight: 400;
  color: hsl(233, 26%, 24%);
}

h1 {
  font-size: 2.4em;
}

h2 {
  font-size: 2em;
  text-align: center;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.2rem;
}

p {
  line-height: 1.5;
  font-weight: 400;
  margin: 1em 0;
}

.logo {
  width: 12em;
}

.logo2 {
  width: 12em;
}

.container {
  width: 80%;
  max-width: 1500px;
  margin: 0 auto;
}

.hero {
  max-width: 1500px;
  margin: 0 auto;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav {
  display: none;
}

.nav-btn {
  display: none;
}

.hero-section {
  background-color: hsl(0, 0%, 98%);
}

.hero__img {
  position: relative;
  overflow: hidden;
}

.bg {
  display: none;
}

.mockup {
  position: absolute;
  top: -8em;
  left: 0;
  padding: 0 2em;
}

.hero {
  padding-bottom: 3em;
}

.hero__text {
  text-align: center;
}

.middle-section {
  padding: 3em 0;
  text-align: center;
  background-color: hsl(220, 16%, 96%);
}

.bank-text {
  margin: 5rem 0;
}

.banking-section {
  display: grid;
  gap: 1em;
}

.icons {
  width: 5rem;
  margin-bottom: 1em;
}

.last-section {
  padding: 3em 0;
  background-color: hsl(0, 0%, 98%);
}

.articles {
  display: grid;
  gap: 2em;
  margin: 2em 0;
}

.article {
  background-color: #fff;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 0 2em rgba(0, 0, 0, 0.15);
}

.article-text {
  padding: 2em;
}

footer {
  background-color: hsl(233, 26%, 24%);
}

.footer {
  padding: 3em 0;
  text-align: center;
}

.logo2 {
  margin-bottom: 1.5em;
}

.social-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  margin-bottom: 1.5em;
}

.social-icon {
  width: 1.5em;
}

.footer-col ul {
  list-style: none;
}

.footer-col a {
  display: inline-block;
  color: hsl(0, 0%, 100%);
  text-decoration: none;
  font-weight: 400;
  margin: 0.5em 0;
}

.footer-btn {
  margin-top: 1.5em;
}

@media (min-width: 40em) {
  .mockup {
    padding: 0 5em;
  }

  .banking-section {
    grid-template-columns: repeat(2, 1fr);
  }

  .hero__text {
    padding: 0 5em 5em 5em;
  }

  .bank-text {
    margin: 5rem;
  }
}

@media (min-width: 47em) {
  .mockup {
    padding: 0 7em;
  }

  .banking-section {
    grid-template-columns: repeat(2, 1fr);
  }

  .articles {
    grid-template-columns: repeat(2, 1fr);
  }

  .bank-text {
    margin: 7rem;
  }
}

@media (min-width: 60em) {
  .hero__text,
  .middle-section {
    text-align: left;
  }

  h2 {
    text-align: left;
  }

  .bank-text {
    margin: 3em 0;
    max-width: 25em;
  }

  .hero {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
  }

  .hero__img {
    grid-column: 2/3;
    grid-row: 1/3;
  }

  .hero__text {
    grid-row: 1/2;
    padding: 7rem 0 0 0;
  }

  .bgm {
    display: none;
  }

  .bg {
    display: inline;
  }

  .mockup {
    padding: 0 5em;
  }

  .hamburger {
    display: none;
  }

  .nav-btn {
    display: inline;
  }

  .nav {
    display: flex;
    align-items: center;
  }

  .nav__list {
    list-style: none;
    display: flex;
  }

  .nav__link {
    color: hsl(233, 8%, 62%);
    text-decoration: none;
    font-weight: 700;
  }

  .nav__link:hover,
  .nav__link:focus {
    opacity: 0.75;
  }

  .nav__item {
    margin: 0 0 0 1.5em;
  }

  .last-section p {
    font-size: 0.8rem;
  }

  .footer {
    text-align: left;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 2fr;
  }

  .social-icons {
    align-items: center;
    justify-content: flex-start;
    gap: 1em;
    margin-bottom: 1.5em;
  }
}

@media (min-width: 67em) {
  .banking-section {
    grid-template-columns: repeat(4, 1fr);
  }

  .articles {
    grid-template-columns: repeat(4, 1fr);
  }
}
